@use './abstracts/variables.scss';
@use './abstracts/mixins.scss';

@use './layout/base.scss';
@use './layout/header.scss';
@use './layout/footer.scss';

/* Light mode par défaut */
body {
  background-color: #f0f0f0;
  color: #111827;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* PrimeVue inputs spécifiques */
.p-inputtext,
.p-inputnumber,
.p-inputtextarea,
.p-dropdown,
.p-datepicker {
  background-color: #ffffff !important;
  color: #111827 !important;
}
